@import '../global.css';

input[type='checkbox'] {
  accent-color: #fe8019;
}

a {
  margin: 0.5rem;
}

.theme-icon {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.icon-tabler {
  cursor: pointer;
}

.icon.disabled {
  display: none;
}

main {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

.lists-wrapper {
  display: flex;
  flex-direction: column;
}

.theme-list {
  display: grid;
  justify-items: start;
  margin: auto;
}

@media screen and (min-width: 500px) {
  .theme-list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
  }
}

@media screen and (min-width: 700px) {
  .theme-list {
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
  }
}

.theme-checkbox input {
  margin-right: 1rem;
}
